<div class="container">
  <div class="selectorContainer">

  <a routerLink="/kitchen">
    <div class="screenSelector" id="kitchen">
      <div class="selectorTitle">
        Kitchen 
      </div>
    </div>
  </a>

  <a routerLink="/order-entry">
    <div class="screenSelector" id="orderEntry">
      <div class="selectorTitle">
        Order Entry
      </div>
    </div>
  </a>

  <a routerLink="/payment">
    <div class="screenSelector" id="payment">
      <div class="selectorTitle">
        Payment Terminal
      </div>
    </div>
  </a>

  </div>
</div>